html{
    height: 100%;
}
canvas{
    border: 1px solid #000;
    float: left;
}
body{
    /*background-color: rgb(66, 212, 223);*/
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
/*background: linear-gradient(to bottom right,blue,red);*/
#front{
    position: absolute;
}
/*#logo{
    float: right;
}*/
#mark{
    margin-left: 10%;
    float: left;
}
#head{
    font-size: 60px;
    font-weight: bolder;
    color:rgb(125, 252, 0);
    margin-left: 10%;
    margin-top: 20px;
    font-family: sans-serif;
    float: left;
}
.size0{
    font-weight: bold;
    font-family: monospace;
}
.btn{
   background-color: rgb(32, 178, 170); 
   float: none;
   margin-left: 1% ;
}

.plate{
    cursor: crosshair;
    float: left;
    margin-left: 50px;
}
.tools1{
    float:right;
    margin-left: 20px;
    align-items:center;
}
#colorPlate{
    margin-top: 10px;
    align-items: center;
}
#favcolor{
    margin-top: 10px;
    margin-left: 10px;
}
#UpDownload{
    margin-top: 10px;
    align-items: center;
}
#loadRow{
    margin-top: 10px;
}
.wordRow{
    margin-top: 10px;
}
#wordRow{
    margin-top: 3px;
}
#wordRow2{
    margin-top: 3px;
}

/*switch*/
.onoffswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    margin-top: 10px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
     width: 200%; 
     margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 16px; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*music*/
.music{
    position:fixed;
    top: 470px;
}
#music{
    margin-top: 20px;
}
/*#pic{
    margin-left: 50px;
}*/

#pencil{
    margin-left: 70px;
}

.eraser{
    cursor: url(./pic/icon_eraser.png), auto;
}
.circle{
    cursor: url(./pic/icon_circle.png), auto;
}
.rectangle{
    cursor: url(./pic/icon_rectangle.png), auto;
}
.triangle{
    cursor: url(./pic/icon_triangle.png), auto;
}
/*star*/
.index {
	position:fixed;
	width:100%;
	background:transparent;
	height:100%;
}
#stars {
	width:100%;
}
.star {
	display:block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#FFF;
	position:absolute;
	transform-origin:100% 0;
	animation:star-ani 4s linear infinite;
	-webkit-animation:star-ani 5s linear infinite;
	box-shadow:0 0 5px 5px rgba(255,255,255,.3);
	opacity:0;
	z-index:2;
}
.star:after {
	content:'';
	display:block;
	top:0px;
	left:4px;
	border:0px solid #fff;
	border-width:0px 90px 2px 90px;
	border-color:transparent transparent transparent rgba(255,255,255,.3);
	transform:rotate(-45deg) translate3d(1px,3px,0);
	box-shadow:0 0 1px 0 rgba(255,255,255,.1);
	transform-origin:0% 100%;
}
@keyframes star-ani {
	0% {
	opacity:0;
	transform:scale(0) translate3d(0,0,0);
}
20% {
	opacity:0.8;
	transform:scale(0.2) translate3d(-100px,100px,0);
}
40% {
	opacity:0.8;
	transform:scale(0.4) translate3d(-200px,200px,0);
}
60% {
	opacity:0.8;
	transform:scale(0.6) translate3d(-300px,300px,0);
}
80% {
	opacity:1;
	transform:scale(1) translate3d(-350px,350px,0);
}
100% {
	opacity:1;
	transform:scale(1.2) translate3d(-400px,380px,0);
}
}
